*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


body,
html,
#app {
  height: 100%;
  min-height: 100% !important;
  background-color: #efefef;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
